body{
    font-family: 'Poppins', sans-serif;
    margin:0;
    
}
h1{
    font-size:60px;
}
h2{
    font-size:48px;
    color:#333333;
}
.hero-title{
    margin-top:50px;
    padding-left: 20px;
    border-radius: 5px;
    border-left:4px solid #FF5959;
}
.hero-title1{
    font-family: 'Yeseva One', cursive;
    font-size: 60px;
    line-height: 80px;
    color:#333333;
    
    
}
.orange-color{
    color:#FFAD5A;
}
.hero-section{
    display:flex;
    margin:0 auto;
    width:80%;
    margin-bottom:140px;
}

.half-width{
    width:50%;
    padding-top:30px;

}
.hero-centent{
    margin-top:30px;
}
.half-width img{
    width:500px;
    /* margin-top:10px; */


}
.hero-discription p{
    padding-bottom: 20px;
}
.link-button{
    color:white;
    padding:12px 38px;
    border-radius: 5px;
    text-decoration: none;
    background-color: #FF5959;
}
.hero-mini-discription{
    padding-top:33px ;
}
.my-mission-section{

    text-align: center;
   
    
}
.mission-card-wrapper{
    display: flex;
    width:80%;
    margin:0 auto;
    justify-content: space-around;
    padding-bottom:80px;
}
.mission-card{
    width:360px;
    margin-right: 24px;
    padding:25px 32px 45px 15px;
    border-radius: 26px;
    
}
.mission-card-img img{
    width:140px;
}
.first-card{
    background-color: #edf5f6;

}
.second-card{
    background-color: #ffeeee;
}
.third-card{
    margin-right: 0;
    background-color: #fff4d6;
}
.develop-limits-section{
    background-image:url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: left;
    background-size: 20%;
    margin-bottom:100px;
}
.develop-limits-wrapper{
    display:flex;
    width:80%;
    margin:0 auto;
}
.develop-content{
    width:45%;
    margin-left:40px;
}
.read-the-document{
    padding-top:30px;
}
.read-more-button{
    padding:14px 30px;
}
.global-community-section{
    padding-bottom:100px;
    background-image:url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-size: 15%;
    background-position: bottom 40px right 40px;
}
.global-community img{
    padding:40px;
}
.stay-safe-section{
    padding-bottom:100px;

}
.stay-safe-title-wrap{
    text-align: center;
}
.stay-safe-wrapper{
    display:flex;
    width:80%;
    margin:0 auto;

}
..stay-safe-img{
    
    align-items: center;
}
.stay-safe-img img{
    width:230px;
    height:470px;
}
.right-content{

}